#calci {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
   
}

#calculator {
    border: 1px solid rgb(6, 6, 6);
    height: 450px;
    width: 260px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(6, 6, 6);
}

#output {
    height: 110px;
    width: 98%;
    border-radius: 10px;
    border: none;
    background-color: grey;


}

#numcontainer {
    /* border: 1px solid white ; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    margin-top: 30px;
}

button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
    color: rgb(8, 8, 8);
    background-color: gray;
}

button:active {
    background-color: rgb(6, 6, 6);
}